<div class="auth-container">
    <div class="card">
        <header class="auth-header">
            <h1 class="auth-title">
            <ng-include src="'templates/_common/logo/logo.html'"></ng-include>
            ModularAdmin
            </h1>
        </header>
        <div class="auth-content">
            <p class="text-xs-center">LOGIN TO CONTINUE</p>
            <form id="login-form" name="loginForm" novalidate ng-submit="login.login()">
                <div class="form-group"
                    ng-class="{'has-error': loginForm.$submitted && (
                        loginForm.username.$error.required || 
                        loginForm.username.$error.email
                    )}">
                    <label for="username" >Username</label>
                    <input type="email" 
                        class="form-control underlined" 
                        name="username" 
                        id="username" 
                        ng-model="login.username"
                        placeholder="Your email address" 
                        required>
                    <span class="has-error" ng-show="loginForm.$submitted && loginForm.username.$error.required">Please enter username</span>
                    <span class="has-error" ng-show="loginForm.$submitted && loginForm.username.$error.email">Please enter a valid email address</span>
                </div>
                <div class="form-group"
                    ng-class="{'has-error': loginForm.$submitted && loginForm.password.$error.required}">
                    <label for="password" >Password</label>
                    <input type="password" 
                        class="form-control underlined" 
                        name="password" 
                        id="password" 
                        ng-model="login.password"
                        placeholder="Your password" 
                        required>
                    <span class="has-error" ng-show="loginForm.$submitted && loginForm.password.$error.required">Please enter password</span>
                </div>
                <div class="form-group">
                    <label for="remember">
                        <input class="checkbox" id="remember" type="checkbox"> 
                        <span>Remember me</span>
                    </label>

                    <a ui-sref="auth.reset" class="forgot-btn pull-right">Forgot password?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">Login</button>
                </div>
                <div class="form-group">
                    <p class="text-muted text-xs-center">Do not have an account? <a ui-sref="auth.signup">Sign Up!</a></p>
                </div>
            </form>
        </div>
    </div>
    <div class="text-xs-center">
        <a ui-sref="app.dashboard" class="btn btn-secondary rounded btn-sm">
            <i class="fa fa-arrow-left"></i> Back to dashboard
        </a>
    </div>
</div>